Repository chinmaymjog/devops-lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_traefik, deploy_wud, deploy_portainer, deploy_mysql, deploy_pgsql, deploy_n8n, deploy_grafana, deploy_prometheus

deploy_traefik:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

deploy_wud:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

deploy_portainer:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

deploy_mysql:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

deploy_pgsql:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

deploy_n8n:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

deploy_grafana:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

deploy_prometheus:
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y gettext-base openssh-client
  - eval $(ssh-agent -s)
  - chmod 400 "${SSH_PRIVATE_KEY}"
  - ssh-add "${SSH_PRIVATE_KEY}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

chore: refactor init.sh to use envsubst for .env templating
  .env
  .gitignore
  init.sh
  services/grafana/.env.example
  services/grafana/.env.template
  services/mysql/.env.example
  services/mysql/.env.template
  services/n8n/.env.example
  services/n8n/.env.template
  services/pgsql/.env.example
  services/pgsql/.env.template
  services/portainer/.env.example
  services/portainer/.env.template
  services/prometheus/.env.example
  services/prometheus/.env.template
  services/traefik/.env.example
  services/traefik/.env.template
  services/wud/.env.example
  services/wud/.env.template
Due: deploy_traefik, deploy_wud, deploy_portainer, deploy_mysql, deploy_pgsql, deploy_n8n, deploy_grafana, deploy_prometheus

fix(ci): update template filename from env.sample to .env.template
  .gitlab-ci.yml
Due: none

fix(ci): force remote git pull to overwrite local changes
  .gitlab-ci.yml
Due: none

fix(ci): fix variable interpolation for git reset
  .gitlab-ci.yml
Due: none

fix(ci): fix concurrent git pull lock issues and revert grafana tag
  .env
  .gitlab-ci.yml
Due: none

fix(services): remove image tag fallbacks
  services/grafana/docker-compose.yml
  services/mysql/docker-compose.yml
  services/n8n/docker-compose.yaml
  services/pgsql/docker-compose.yml
  services/portainer/docker-compose.yml
  services/prometheus/docker-compose.yml
  services/traefik/docker-compose.yml
  services/wud/docker-compose.yml
Due: deploy_traefik, deploy_wud, deploy_portainer, deploy_mysql, deploy_pgsql, deploy_n8n, deploy_grafana, deploy_prometheus

docs: update README with new root .env templating initialization instructions
  .env
  README.md
Due: none

feat(security): enable traefik basic auth middleware on all exposed subdomains
  services/grafana/docker-compose.yml
  services/n8n/docker-compose.yaml
  services/portainer/docker-compose.yml
  services/prometheus/docker-compose.yml
  services/wud/docker-compose.yml
Due: deploy_wud, deploy_portainer, deploy_n8n, deploy_grafana, deploy_prometheus

docs: update all docs to reflect the new .env.template setup architecture
  .env
  docs/SERVICES.md
  docs/SETUP.md
Due: none

docs: update architecture and setup, configure wud slack triggers
  .env
  .gitignore
  docs/ARCHITECTURE.md
  docs/SERVICES.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  services/n8n/docker-compose.yml
  services/wud/.env.template
  services/wud/docker-compose.yml
Due: deploy_wud, deploy_n8n

fix: add trailing newline to wud env template
  services/wud/.env.template
Due: deploy_wud

Path conditions:
  deploy_traefik: any of: services/traefik/**
  deploy_wud: any of: services/wud/**
  deploy_portainer: any of: services/portainer/**
  deploy_mysql: any of: services/mysql/**
  deploy_pgsql: any of: services/pgsql/**
  deploy_n8n: any of: services/n8n/**
  deploy_grafana: any of: services/grafana/**
  deploy_prometheus: any of: services/prometheus/**
