Repository chinmaymjog/devops-lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_runner, deploy_traefik

.gitlab-ci.yml:

before_script:
  ## https://docs.gitlab.com/ci/jobs/ssh_keys/
  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh

deploy_runner:
  stage: deploy
  rules:
    - changes: 
      - gitlab-runner/**
  script:
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/traefik &&
        git pull && 
        envsubst < config.sample > config/config.toml &&
        docker compose pull &&
        docker compose up -d"
  when: manual

deploy_traefik:
  stage: deploy
  rules:
    - changes:
      - traefik/**
  script:
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/traefik &&
        git pull && 
        envsubst < env.sample > .env &&
        docker compose pull &&
        docker compose up -d"
  when: manual

added .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Change trigger
  gitlab-runner/config/config.sample
  traefik/docker-compose.yml
  traefik/env.sample
Due: deploy_traefik

Updated .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Updated runner config mount
  gitlab-runner/docker-compose.yml
Due: deploy_runner

Updated config.sample var ref
  gitlab-runner/config/config.sample
Due: none

Added new tools
  n8n/docker-compose.yaml
  n8n/env.sample
  portainer/docker-compose.yml
  portainer/env.sample
  wud/docker-compose.yml
  wud/env.sample
Due: none

New line
  traefik/env.sample
Due: deploy_traefik

URL fix
  gitlab-runner/config/config.sample
Due: none

Jobs for new tools
  .gitlab-ci.yml
Due: none

docker network change
  gitlab-runner/docker-compose.yml
  n8n/docker-compose.yaml
  portainer/docker-compose.yml
  traefik/docker-compose.yml
  wud/docker-compose.yml
Due: deploy_runner, deploy_traefik

Cleanup
  traefik/conf/traefik-dynamic.yaml
Due: none

gitignore
  .gitignore
Due: none

Optimization
  .gitignore
  .gitlab-ci.yml
Due: none

Optimization
  .gitlab-ci.yml
Due: none

Network update
  traefik/docker-compose.yml
Due: deploy_traefik

syntax fix
  portainer/docker-compose.yml
  traefik/docker-compose.yml
Due: deploy_traefik

new services
  mysql/docker-compose.yml
  mysql/env.sample
  pgsql/docker-compose.yml
  pgsql/env.sample
Due: none

readme
  README.md
Due: none

var for wildcard domain
  traefik/docker-compose.yml
Due: deploy_traefik

Genericize project for public portfolio showcase
  .gitignore
  .gitlab-ci.yml
  README.md
  docs/ARCHITECTURE.md
  docs/SERVICES.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  gitlab-runner/config/config.sample
  gitlab-runner/docker-compose.yml
  mysql/env.sample
  n8n/docker-compose.yaml
  n8n/env.sample
  pgsql/env.sample
  portainer/env.sample
  services/mysql/.env.example
  services/mysql/docker-compose.yml
  services/mysql/env.sample
  services/n8n/.env.example
  services/n8n/docker-compose.yaml
  services/n8n/env.sample
  services/pgsql/.env.example
  services/pgsql/docker-compose.yml
  services/pgsql/env.sample
  services/portainer/.env.example
  services/portainer/docker-compose.yml
  services/portainer/env.sample
  services/traefik/.env.example
  services/traefik/conf/traefik.yml
  services/traefik/docker-compose.yml
  services/traefik/env.sample
  services/wud/.env.example
  services/wud/docker-compose.yml
  services/wud/env.sample
  traefik/env.sample
  wud/env.sample
Due: deploy_runner, deploy_traefik

docs: clarify GitLab CI role and re-add test stage
  .gitlab-ci.yml
Due: none

refactor: standardize CI/CD variable syntax
  .gitlab-ci.yml
Due: none

ci: disable pipeline on main and automate testing on develop
  .gitlab-ci.yml
Due: none

Fix: env file path
  .gitlab-ci.yml
Due: none

ci: optimize pipeline structure using extends and hidden jobs
  .gitlab-ci.yml
Due: none

feat: enable Grafana and Prometheus monitoring services
  .gitignore
  services/grafana/.env.example
  services/grafana/docker-compose.yml
  services/grafana/env.sample
  services/prometheus/.env.example
  services/prometheus/conf/prometheus.yml
  services/prometheus/docker-compose.yml
  services/prometheus/env.sample
Due: none

ci: ensure remote repo is updated before config upload
  .gitlab-ci.yml
Due: none

docs: add remote server setup instructions for CI/CD
  README.md
Due: none

docs: add upstream tracking to remote setup instructions
  README.md
Due: none

Fix: tag version
  services/wud/docker-compose.yml
Due: none

Fix: env vars
  services/n8n/docker-compose.yaml
Due: none
